/*contacto*/
.maincontacto{
   
        margin: 50px;
     

        .contactanos{
            text-align: $texto-centrado;
            font-size: $texto-principal;
            text-shadow: 3px -3px 12px rgba(0,0,0,0.6);
            margin-bottom: 50px;
        }
    
        .parrafocontacto{
            text-align: $texto-centrado;
            background-color: rgb(43, 104, 177);
            border: 3px solid black;
            border-radius: 47px 47px 47px 47px;
        -webkit-border-radius: 47px 47px 47px 47px;
        -moz-border-radius: 47px 47px 47px 47px;
            padding: 30px; 
            font-size:map-get($tamaño-pixeles, 30p);
            color: rgb(251, 238, 221);
            margin-bottom: 100px;
        }

        .mensaje{
            margin-left: 10%;
        }
       

        .formu{
            
            margin: 0 auto;
            margin-top: 20px;
        }
        .form{
            background-color: rgb(131, 230, 230);
            padding: 30px;
            border-radius: 47px 47px 47px 47px;
            border: 3px solid black;
        }

        .boton{
          
            text-decoration: none;
        }

     
        .botonformulario{
            display: block;
            font-size: map-get($tamaño-pixeles, 20p); 
            text-decoration: none;
            text-align: center;
            width: 180px;
            border-radius: 15px;
            background-color: rgb(95, 174, 235);
            margin: 20px;
            margin-left: 40%;
        }
        .botonformulario:hover{
            background-color: rgb(6, 219, 247);
            border: 2px solid aqua;
            color: rgb(12, 12, 12);
        }
    

        .encontra{
            margin: 30px;
            text-align: $texto-centrado;
             font-size:map-get($tamaño-pixeles, 50p);
             text-shadow: 3px -3px 12px rgba(0,0,0,0.6);
             margin-left: 50px;
        }
    

}



@media(max-width:800px){
    .parrafocontacto{
        margin-left: 50px;
        width: 300px;
        padding: 50px;
       
    }
}


@media(max-width:800px){
    .encontra{
        width: 300px;
        text-align: center;
        font-size: 30px;
        margin: 20px;
    }
}


@media(max-width:800px){
    .formu{
        width: 100%;
        text-align: center;

    }
}


@media(max-width:800px){
    .mensaje{
        text-align: center;
        width: 80%;
        margin-right: 20px;

    }
}

