  /*index*/   
  
@media(max-width:800px){
    .titulo{
        width: 100%;

    }
}


.nombreprincipal{
    text-align: $texto-centrado;
    font-size: map-get($tama単o-pixeles, 70p);
    text-shadow: 3px -3px 12px rgba(0,0,0,0.6); 
    margin: 100px;  
    text-shadow: 3px -3px 12px rgba(0,0,0,0.6);  
    margin: 100px; 
   

}
@media(max-width:800px){
    .nombreprincipal{
        font-size: map-get($tama単o-pixeles, 50p);
        margin: 40px;
        font-size: map-get($tama単o-pixeles, 40p);
        margin: 30px;

    }
}

.carousel-inner img{
    height: 100%;
    object-fit: cover;
}

.parrafoinicio{
    width: 80%;
    text-align: center;
    color: rgb(251, 238, 221);
    background-color: rgba(33, 143, 227, 0.668);
    font-size: 60px;
    position: absolute;
    top: 300px;
    left: 120px; 
}

@media(max-width:800px){
    .parrafoinicio{
        font-size: 20px;
        top: 80px;
        left: 50px;

    }
}


.parrafoconfianza{
    width: 80%;
    text-align: center;
    color: rgb(251, 238, 221);
    background-color: rgba(33, 143, 227, 0.63);
    font-size: 60px;
    position: absolute;
    top: 300px;
    left: 120px;
}
@media(max-width:800px){
    .parrafoconfianza{
        font-size: 20px;
        top: 80px;
        left: 50px;

    }
}

.parrafopapeles{
    width: 80%;
    text-align: center;
    color: rgb(251, 238, 221);
    background-color: rgba(33, 143, 227, 0.63);
    font-size: 50px;
    position: absolute;
    top: 220px;
    left: 120px;
}
@media(max-width:800px){
    .parrafopapeles{
        font-size: 20px;
        top: 40px;
        left: 50px;

    }
}

.bienv{   
    @include flexdos($texto-centrado,  $texto-principal, 50px);
    text-shadow: 3px -3px 12px rgba(0,0,0,0.6);
}

@media(max-width:800px){
    .bienv{
        width: 80%;
        font-size: map-get($tama単o-pixeles, 50p);

    }
}


.parrafouno{
    @include flex($texto-centrado,$textos-azules,$color-parrafos);/*esto es un mixin*/
    color: rgb(251, 238, 221);
    border: 3px solid black;
    border-radius: 47px 47px 47px 47px;
-webkit-border-radius: 47px 47px 47px 47px;
-moz-border-radius: 47px 47px 47px 47px;
    padding: 30px; 
    color: rgb(239, 231, 231);
    margin-bottom: 100px;
    
    
    margin-bottom: 100px; 
}
@media(max-width:800px){
    .parrafouno{
        font-size: 30px;

    }
}

@media(max-width:800px){
    .esconder{
        width: 100%;

    }
}

.subti{
    font-size: $texto-letrasust;  
}
@media(max-width:800px){
    .subti{
       margin: 20px;
       font-size:40px;

    }
}


.parrafoprincipal{  
font-size: $textos-letraparrafo;
}

@media(max-width:800px){
    .parrafoprincipal{
       text-align: center;
       margin: 5px;
       font-size: 20px;
       width: 400px;

    }
}

