  /*selector index*/   
  
 /*menu nav*/
 .navbar{
    background: #24C6DC;  
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  
    background: linear-gradient(to right, #514A9D, #24C6DC);   
    width: auto;
    list-style: none;
    .nav-item{
        display: block;
        font-size: map-get($tamaño-pixeles, 20p); 
        text-decoration: none;
        text-align: center;
        width: 180px;
        border-radius: 15px;
        background-color: rgb(95, 174, 235);
        margin-left: 50px;
        

    }    
         
    }
   
    .nav-item:hover {
        background-color: transparent;
        border: 2px solid aqua;
        color: aqua;
    }
       


    @media(max-width:800px){
        .nav-item{
            width: 200px;
            text-align: center;
            margin: 05px;
           
    
        }
    }








@media(max-width:800px){
    .titulo{
        width: 100%;

    }
}


.nombreprincipal{
    text-align: $texto-centrado;
    font-size: map-get($tamaño-pixeles, 50p);
    text-shadow: 3px -3px 12px rgba(0,0,0,0.6);   
   
}
@media(max-width:800px){
    .nombreprincipal{
        font-size: map-get($tamaño-pixeles, 30p);

    }
}

.carousel-inner img{
    height: 100%;
    object-fit: cover;
}

.bienv{
     
   text-align: $texto-centrado;
    font-size: $texto-principal;
    margin: auto;
    text-shadow: 3px -3px 12px rgba(0,0,0,0.6);
}

@media(max-width:800px){
    .bienv{
        width: 100%;
        font-size: map-get($tamaño-pixeles, 50p);

    }
}


.parrafouno{
    text-align: $texto-centrado;
    background-color: $color-parrafos;
    border: 3px solid black;
    border-radius: 47px 47px 47px 47px;
-webkit-border-radius: 47px 47px 47px 47px;
-moz-border-radius: 47px 47px 47px 47px;
    padding: 30px; 
    font-size:$textos-azules;
}

@media(max-width:800px){
    .esconder{
        width: 100%;

    }
}

.subti{
    font-size: $texto-letrasust;  
}


.parrafoprincipal{  
font-size: $textos-letraparrafo;
}

@media(max-width:800px){
    .parrafoprincipal{
       
        font-size:map-get($tamaño-pixeles, 20p,);

    }
}

