/*recomendaciones*/

.clientes{
    margin: map-get($tamaño-pixeles, 30p);

    .subticlientes{
        font-size: $texto-principal;  
    }
    
    .parrafoprincipalclientes{
        font-size: map-get($tamaño-pixeles, 40p);
    }

}

/*
.subticlientes{
    font-size: $texto-principal;  
}*/

@media(max-width:800px){
    .subticlientes{
        font-size: map-get($tamaño-pixeles, 30p);
    }
}
/*
.parrafoprincipalclientes{
    font-size: 40px;
}*/

@media(max-width:800px){
    .parrafoprincipalclientes{
        font-size: map-get($tamaño-pixeles, 20p);
    }
}