
/* aca empieza solapa nosotros*/
.quienes{
    text-align: $texto-centrado;
     font-size: $texto-principal;
     text-shadow: 3px -3px 12px rgba(0,0,0,0.6);
   
 }
 @media(max-width:800px){
    .parrafoprincipal{      
        font-size: map-get($tamaño-pixeles, 30p);
    }
}

 .parrafodos{
    text-align: $texto-centrado;
    background-color: $color-parrafos;
    ;
    border: 3px solid black;
    border-radius: 47px 47px 47px 47px;
-webkit-border-radius: 47px 47px 47px 47px;
-moz-border-radius: 47px 47px 47px 47px;
    padding: 30px; 
    font-size:map-get($tamaño-pixeles, 30p);
}

.card{
    text-align: $texto-centrado;
   margin:auto;
}
.titulosomos{
    text-align: $texto-centrado;

    margin:auto;
    font-size: map-get($tamaño-pixeles, 60p);
    width: map-get($tamaño-pixeles, 500p);   
}

 .parrafopie{
    background-color: aqua;
    text-align: $texto-centrado;
    font-size: map-get($tamaño-pixeles, 20p);
    margin:20px;
    padding:30px;
   
 }