
/*nosotros*/
.quienes{
    text-align: $texto-centrado;
     font-size: $texto-principal;
     text-shadow: 3px -3px 12px rgba(0,0,0,0.6);
     margin: 50px;
   
 }
 @media(max-width:800px){
    .parrafoprincipal{      
        font-size: map-get($tamaño-pixeles, 30p);
    }
}

 .parrafodos{
    text-align: $texto-centrado;
    background-color: $color-parrafos;
    border: 3px solid black;
    border-radius: 47px 47px 47px 47px;
-webkit-border-radius: 47px 47px 47px 47px;
-moz-border-radius: 47px 47px 47px 47px;
    padding: 30px; 
    font-size:map-get($tamaño-pixeles, 30p);
    color: rgb(239, 231, 231);
    margin-bottom: 100px;
}

@media(max-width:800px){
    .parrafodos{      
        font-size: map-get($tamaño-pixeles, 20p);
        margin: 50px;
    }
}

.card{
    text-align: $texto-centrado;
   margin:auto;
}
@media(max-width:800px){
    .card{      
        margin-top: 20px;
    }
}

 .parrafopie{
    @include flexdos($texto-centrado, map-get($tamaño-pixeles, 20p), 20px);/*mixin*/
    
    background-color: aqua;
    padding:30px;
 }