/*recomendaciones*/

.clientes{
    margin: map-get($tamaño-pixeles, 60p);

    .subticlientes{
        font-size: $texto-principal;
        margin: 30px; 
    }
    
    .parrafoprincipalclientes{
        font-size: map-get($tamaño-pixeles, 40p);
    }

}

/*
.subticlientes{
    font-size: $texto-principal;  
}*/

@media(max-width:800px){
    .subticlientes{
        margin: 0 auto;
        width: 80%;
        font-size: map-get($tamaño-pixeles, 20p);
    }
}


@media(max-width:800px){
    .parrafoprincipalclientes{
        font-size: map-get($tamaño-pixeles, 20p);
    }
}