/* aca empieza solapa servicio*/
.nombreprincipalservi{
    text-align: $texto-centrado;
    font-size: map-get($tamaño-pixeles, 50p);
    text-shadow: 3px -3px 12px rgba(0,0,0,0.6);
 }

 @media(max-width:800px){
    .nombreprincipalservi{      
        font-size: map-get($tamaño-pixeles, 35p);
    }
}
     

.titulolista{
    text-align:$texto-centrado;
    font-size: map-get($tamaño-pixeles, 30p);
    margin: 20px;
    background-color: $color-parrafos;
    border: 3px solid black;
    border-radius: 47px 47px 47px 47px;
-webkit-border-radius: 47px 47px 47px 47px;
-moz-border-radius: 47px 47px 47px 47px;
    padding: 10px; 
 
}

.listaparafo{
    
    text-align: $texto-centrado;
    font-size: map-get($tamaño-pixeles, 20p);
}

.video{
    margin: 30px;
    margin-left: 400px;
}
@media(max-width:800px){
    .video{
        width: 100%;
        margin-left: 10px;
    }
}