$color-parrafos: rgb(43, 104, 177);

$texto-centrado: center;
$textos-azules: 40px;
$texto-letrasust: 50px;
$textos-letraparrafo: 30px;
$texto-principal: 70px;


/*mapa solamente para font-size*/
$tamaño-pixeles:(   
    20p: 20px,
    30p: 30px,
    35p: 35px,
    40p: 40px,
    50p: 50px,
    55p: 55px,
    60p: 60px,
    70p: 70px,
    90p: 90px,
    500p: 500px,
    800p: 800px,

);

