/*mapa solamente para font-size*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Forum&family=Roboto+Slab&family=Spectral:ital,wght@1,200&display=swap");
/*selector universal*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Forum", cursiva;
}

/*selector index*/
/*menu nav*/
.navbar {
  background: #24C6DC;
  background: linear-gradient(to right, #514A9D, #24C6DC);
  width: auto;
  list-style: none;
}
.navbar .nav-item {
  display: block;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  width: 180px;
  border-radius: 15px;
  background-color: rgb(95, 174, 235);
  margin-left: 50px;
}

.nav-item:hover {
  background-color: transparent;
  border: 2px solid aqua;
  color: aqua;
}

@media (max-width: 800px) {
  .nav-item {
    width: 200px;
    text-align: center;
    margin: 5px;
  }
}
@media (max-width: 800px) {
  .titulo {
    width: 100%;
  }
}
.nombreprincipal {
  text-align: center;
  font-size: 50px;
  text-shadow: 3px -3px 12px rgba(0, 0, 0, 0.6);
}

@media (max-width: 800px) {
  .nombreprincipal {
    font-size: 30px;
  }
}
.carousel-inner img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bienv {
  text-align: center;
  font-size: 70px;
  margin: auto;
  text-shadow: 3px -3px 12px rgba(0, 0, 0, 0.6);
}

@media (max-width: 800px) {
  .bienv {
    width: 100%;
    font-size: 50px;
  }
}
.parrafouno {
  text-align: center;
  background-color: rgb(43, 104, 177);
  border: 3px solid black;
  border-radius: 47px 47px 47px 47px;
  -webkit-border-radius: 47px 47px 47px 47px;
  -moz-border-radius: 47px 47px 47px 47px;
  padding: 30px;
  font-size: 30px;
}

@media (max-width: 800px) {
  .esconder {
    width: 100%;
  }
}
.subti {
  font-size: 50px;
}

.parrafoprincipal {
  font-size: 30px;
}

@media (max-width: 800px) {
  .parrafoprincipal {
    font-size: 20px;
  }
}
.piep {
  background: #24C6DC; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  font-size: 50px;
  list-style: none;
  width: 100%;
  padding: 10px;
}

.redes {
  display: flex;
  justify-content: space-evenly;
}

.derecho {
  font-size: 20px;
  margin-top: 60px;
}

/* aca empieza solapa nosotros*/
.quienes {
  text-align: center;
  font-size: 70px;
  text-shadow: 3px -3px 12px rgba(0, 0, 0, 0.6);
}

@media (max-width: 800px) {
  .parrafoprincipal {
    font-size: 30px;
  }
}
.parrafodos {
  text-align: center;
  background-color: rgb(43, 104, 177);
  border: 3px solid black;
  border-radius: 47px 47px 47px 47px;
  -webkit-border-radius: 47px 47px 47px 47px;
  -moz-border-radius: 47px 47px 47px 47px;
  padding: 30px;
  font-size: 30px;
}

.card {
  text-align: center;
  margin: auto;
}

.titulosomos {
  text-align: center;
  margin: auto;
  font-size: 60px;
  width: 500px;
}

.parrafopie {
  background-color: aqua;
  text-align: center;
  font-size: 20px;
  margin: 20px;
  padding: 30px;
}

/* aca empieza solapa servicio*/
.nombreprincipalservi {
  text-align: center;
  font-size: 50px;
  text-shadow: 3px -3px 12px rgba(0, 0, 0, 0.6);
}

@media (max-width: 800px) {
  .nombreprincipalservi {
    font-size: 35px;
  }
}
.titulolista {
  text-align: center;
  font-size: 30px;
  margin: 20px;
  background-color: rgb(43, 104, 177);
  border: 3px solid black;
  border-radius: 47px 47px 47px 47px;
  -webkit-border-radius: 47px 47px 47px 47px;
  -moz-border-radius: 47px 47px 47px 47px;
  padding: 10px;
}

.listaparafo {
  text-align: center;
  font-size: 20px;
}

.video {
  margin: 30px;
  margin-left: 400px;
}

@media (max-width: 800px) {
  .video {
    width: 100%;
    margin-left: 10px;
  }
}
/* aca empieza solapa recomendaciones*/
.clientes {
  margin: 30px;
}
.clientes .subticlientes {
  font-size: 70px;
}
.clientes .parrafoprincipalclientes {
  font-size: 40px;
}

/*
.subticlientes{
    font-size: $texto-principal;  
}*/
@media (max-width: 800px) {
  .subticlientes {
    font-size: 30px;
  }
}
/*
.parrafoprincipalclientes{
    font-size: 40px;
}*/
@media (max-width: 800px) {
  .parrafoprincipalclientes {
    font-size: 20px;
  }
}
/* aca empieza solapa contacto*/
.maincontacto {
  margin: 50px;
}
.maincontacto .contactanos {
  text-align: center;
  font-size: 70px;
  text-shadow: 3px -3px 12px rgba(0, 0, 0, 0.6);
}
.maincontacto .parrafocontacto {
  text-align: center;
  background-color: rgb(43, 104, 177);
  border: 3px solid black;
  border-radius: 47px 47px 47px 47px;
  -webkit-border-radius: 47px 47px 47px 47px;
  -moz-border-radius: 47px 47px 47px 47px;
  padding: 30px;
  font-size: 30px;
}
.maincontacto .botonformulario {
  background-color: rgb(43, 104, 177);
}
.maincontacto .encontra {
  text-align: center;
  font-size: 50px;
  text-shadow: 3px -3px 12px rgba(0, 0, 0, 0.6);
  margin-left: 60px;
}

/*
.contactanos{
    text-align: $texto-centrado;
    font-size: $texto-principal;
    text-shadow: 3px -3px 12px rgba(0,0,0,0.6);
}*/
/*
.parrafocontacto{
    text-align: $texto-centrado;
    background-color: rgb(43, 104, 177);
    border: 3px solid black;
    border-radius: 47px 47px 47px 47px;
-webkit-border-radius: 47px 47px 47px 47px;
-moz-border-radius: 47px 47px 47px 47px;
    padding: 30px; 
    font-size:30px;
}*/
@media (max-width: 800px) {
  .parrafocontacto {
    margin-right: 20px;
    width: 300px;
    padding: 20px;
    font-size: 20px;
  }
}
/*
.botonformulario{
    background-color: rgb(43, 104, 177);
}*/
/*
.encontra{
    text-align: $texto-centrado;
     font-size: 50px;
     text-shadow: 3px -3px 12px rgba(0,0,0,0.6);
     margin-left: 60px;
}*/
@media (max-width: 800px) {
  .encontra {
    width: 100%;
    font-size: 30px;
    margin: 20px;
  }
}
/*
.maincontacto{
    margin: 50px;
}*/
@media (max-width: 800px) {
  .formulario {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .mensaje {
    width: 100%;
  }
}/*# sourceMappingURL=estilo.css.map */